/* proSilver Content Styles for MOD Thanks
---------------------------------------- */

dl.thanks {
	min-height: 35px;
	background-position: 10px 50%;		/* Position of folder icon */
	background-repeat: no-repeat;
}

dl.thanks dt {
	padding-left: 45px;					/* Space for folder icon */
	background-repeat: no-repeat;
	background-position: 5px 95%;		/* Position of topic icon */
	width: 45%;
}

dd.lastpostthanks {
	width: auto;
	font-size: 1.1em;
}
dd.lastpostthanks span {
	display: block;
	padding-left: 5px;
}
/* List in forum description */
dl.thanks dt ol,
dl.thanks dt ul {
	list-style-position: inside;
	margin-left: 1em;
}

dl.thanks dt li {
	display: list-item;
	list-style-type: inherit;
}
li.header dl.thanks {
	min-height: 0;
}

li.header dl.thanks dt {
	/* Tweak for headers alignment when folder icon used */
	padding-left: 0;
	padding-right: 50px;
}

/* Forum list column styles */
dl.thanks {
	min-height: 35px;
	background-position: 10px 50%;		/* Position of folder icon */
	background-repeat: no-repeat;
}

dl.thanks dt {
	padding-left: 45px;					/* Space for folder icon */
	background-repeat: no-repeat;
	background-position: 5px 95%;		/* Position of topic icon */
}

/* Icon images
---------------------------------------- */

/* Profile & navigation icons */
.thanks-icon:before
{
  content: '\f08a';
  font-size: 14px;
}

.removethanks-icon:before
{
  content: '\f004';
  font-size: 14px;
  color: #bc2a4d;
}

.post_thanks {
	border-top: 1px dotted #c2c2c2;
	padding: 10px 0 0;
	margin: 10px 0 0;
	color: #525252;
}
