<div id='list_thanks{postrow.POST_ID}'>
<!-- IF postrow.THANKS and postrow.THANKS_POSTLIST_VIEW and not postrow.S_POST_ANONYMOUS and not S_IS_BOT -->
	<dl class='post_thanks'>
		<dt>{postrow.THANK_TEXT}{postrow.POST_AUTHOR_FULL}{postrow.THANK_TEXT_2}</dt>
		<dd>{postrow.THANKS}</dd>
	</dl>
<!-- ENDIF -->
</div>
